.navbar {
    background: #c3e7ff;
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
 

    >.logoimg {
        height: auto;
        width: 60px;
    }

    >.logo_connexion {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 2));
        width: 16px;
        height: 18px;
        margin-top: 1.5%;
        margin-right: 2%;
        border: 2px solid;
        border-left: 0;
        box-shadow:
            -8px -6px 0 -6px,
            -8px 6px 0 -6px;

        &::before,
        &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            right: 4px
        }

        &::before {
            background: currentColor;
            width: 16px;
            height: 2px;
            top: 6px
        }

        &::after {
            width: 6px;
            height: 6px;
            border-right: 2px solid;
            border-top: 2px solid;
            top: 4px;
            transform: rotate(45deg)
        }

        &:hover::before,
        &:hover::after {
            animation: arrow;
            animation-duration: 1s;
        }

    }
}
 
.test{
    justify-content:space-between;
}
//animation for the arrow

@keyframes arrow {
    0% {
        right: 4px;
    }

    50% {
        right: 10px;
    }

    100% {
        right: 4px;
    }
}

.top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    background-color: rgb(9, 8, 8);
    
  }
  
  .top:hover {
    background-color: rgb(142, 142, 142);
    
  }